<!DOCTYPE html>
<html>
<head>
    <title>Casino Royale - Stock prices</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<div class="row">
    <div class="jumbotron col-md-10 col-md-offset-1">
        <h1>Casino Royale</h1>
        <p>Kursübersicht und Statistiken</p>
    </div>
</div>
<div class="row">
    <div class="panel panel-default col-md-6 col-md-offset-1">
        <div class="panel-heading"><h1>BIX - Bier Index</h1></div>
        <div class="panel-body">
            <div id="chartContainer" style="height: 380px; width: 100%;"></div>
        </div>
        <div class="panel-footer"><p>Zeigt die Kurse der letzten 60 Minuten</p></div>
    </div>
    <div class=" panel panel-default col-md-3 col-md-offset-1">
        <div class="panel-heading"><h1>Handelspreis</h1></div>
        <div class="panel-body">
            <h3>Äppler</h3>
            <p>Verzehr <span class="label label-success">150</span></p>
            <p>Strafe <span class="label label-danger">300</span></p>
            <h3>Bier</h3>
            <p>Verzehr <span class="label label-success">150</span></p>
            <p>Strafe <span class="label label-danger">300</span></p>
            <h3>Schnaps</h3>
            <p>Verzehr <span class="label label-success">150</span></p>
            <p>Strafe <span class="label label-danger">300</span></p>
            <h3>Daphne</h3>
            <p>Verzehr <span class="label label-success">150</span></p>
            <p>Strafe <span class="label label-danger">300</span></p>

        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default col-md-10 col-md-offset-1">
        <div class="panel-heading"><h1>Konsumstatistik</h1></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-sm-5 col-lg-2 col-xs-7 box">
                    <h1>Äppler</h1>

                    <p>Konsumiert: </p>

                    <p>Bestraft: </p>

                    <div class="divider"></div>
                    <p>Gesamt: </p>
                </div>
                <div class="col-md-3 col-sm-5 col-lg-2 col-xs-7 box">
                    <h1>Bier</h1>

                    <p>Konsumiert: </p>

                    <p>Bestraft: </p>

                    <p class="divider"></p>

                    <p>Gesamt: </p>
                </div>
                <div class="col-md-3 col-sm-5 col-lg-2 col-xs-7 box">
                    <h1>Schnaps</h1>

                    <p>Konsumiert: </p>

                    <p>Bestraft: </p>

                    <p class="divider"></p>

                    <p>Gesamt: </p>
                </div>
                <div class="col-md-3 col-sm-5 col-lg-2 col-xs-7 box">
                    <h1>Daphne</h1>

                    <p>Konsumiert: </p>

                    <p>Bestraft: </p>

                    <p class="divider"></p>

                    <p>Gesamt: </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/canvas/canvasjs.min.js"></script>

<script type="text/javascript">

    var updateInterval = 1000;

    var d = new Date();

    window.onload = function () {
        var dps = [];   //dataPoints.

        var chart = new CanvasJS.Chart("chartContainer", {
            title: {
                text: "BIX Kursübersicht"
            },
            axisX: {
                title: "Uhrzeit",
            },
            axisY: {
                title: "Jones"
            },
            data: [{
                type: "line",
                dataPoints: dps
            }]
        });

        var xVal = 0;
        var yVal = 100;

        var updateChart = function () {

            yVal = yVal + Math.round(5 + Math.random() * (-5 - 5));
            dps.push({x: xVal, y: yVal,});

            chart.render();
            xVal++;
            // update chart after specified time.

            if (dps.length > 36000000) {
                dps.shift();
            }

        };
        setInterval(function () {
            updateChart()
        }, updateInterval);

        chart.render();
    }


</script>
</html>
