<!DOCTYPE html>
<html>
  <head>
    <title>Casino Royale - Stock price</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <div class="row">
      <div class="panel panel-default col-md-9">
        <div class="panel-heading"><h1>Dow Jones </h1></div>
        <div class="panel-body">
          Hier steht ihre Statistik :)
        </div>
      </div>
      <div class="panel panel-default col-md-3">
        <div class="panel-heading"><h1>Handelspreis</h1></div>
        <div class="panel-body">

          Hier stehen ihre Preise :)
        </div>
      </div>
    </div>
    <div class="row">
      <div class="panel panel-default col-md-12">
        <div class="panel-heading"><h1>Saufstatistik</h1></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-sm-5 col-lg-2 col-xs-7">
              <h1>Schnaps</h1>
                <p>Getrunken: </p>
                <p>Strafen: </p>
                <div class="divider"></div>
                <p>Gesamt: </p>
            </div>
            <div class="col-md-3  col-sm-5 col-lg-2 col-xs-7">
              <h1>Schnaps</h1>
              <p>Getrunken: </p>
              <p>Strafen: </p>
              <p class="divider"></p>
              <p>Gesamt: </p>
            </div>
            <div class="col-md-3 col-sm-5 col-lg-2 col-xs-7">
              <h1>Schnaps</h1>
              <p>Getrunken: </p>
              <p>Strafen: </p>
              <p class="divider"></p>
              <p>Gesamt: </p>
            </div>
            <div class="col-md-3 col-sm-5 col-lg-2 col-xs-7">
              <h1>Schnaps</h1>
              <p>Getrunken: </p>
              <p>Strafen: </p>
              <p class="divider"></p>
              <p>Gesamt: </p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</html>
